{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cats/cat-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="technique-container">
  <div class="text-box">
    <h1>{{ technique.name }}</h1>
    <p>{{ technique.description }}</p>
    <div class="actions">
      <a href="{% url 'technique_update' technique.id %}" class="btn warn">Edit</a>
      <a href="{% url 'technique_delete' technique.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
{% video technique.video 'small' %}
<h1>{{ technique.modified }}</h1>
{% endblock %}