{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/techniques/technique-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="card-container d-flex justify-content-center w-90 flex-wrap">
  {% for technique in techniques %}
  <a href="{% url 'technique_detail' technique.id %}">
    <div class="card m-3" style="width: 18rem;">
      <img src="http://img.youtube.com/vi/{{ technique.thumbnail }}/sddefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ technique.name }}</h5>
        <p class="card-text">Last Studied: {{ technique.modified.date }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
{% endblock %}