{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/techniques/technique-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="d-flex justify-content-center w-90 flex-wrap">
  {% comment %} <h1>This Week's Topic: {{techniques.0.get_current_category}}</h1> {% endcomment %}
  {% for technique in techniques %}
  <a href="{% url 'technique_detail' technique.id %}">
    <div class="card m-3" style="width: 18rem;">
      <img src="http://img.youtube.com/vi/{{ technique.thumbnail }}/sddefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ technique.name }}</h5>
        <p class="card-text">Last Studied: {{ technique.modified.date }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
<section class="button-section d-flex flex-column justify-content-center align-items-center">
  <form action="{% url 'load_plan' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="bottom-button btn btn-danger rounded-pill m-3">Load New Schedule</button>
  </form>
  <!-- Button trigger modal -->
  <button type="button" class="bottom-button btn btn-outline-light rounded-pill" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch Instructor Notes
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Instructor Notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for technique in techniques %}
            <div class="notes border-bottom">
              <h4 class="text-decoration-underline m-4">{{ technique.name}} </h4>
              <p>{{ technique.description }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
