{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/techniques/technique-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="d-flex justify-content-between w-90 flex-wrap">
  {% comment %} <h1>This Week's Topic: {{techniques.0.get_current_category}}</h1> {% endcomment %}
  {% for technique in techniques %}
  <a href="{% url 'technique_detail' technique.id %}">
    <div class="card my-3" style="width: 18rem;">
      <img src="http://img.youtube.com/vi/{{ technique.thumbnail }}/sddefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ technique.name }}</h5>
        <p class="card-text">Last Modified: {{ technique.modified }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
<form action="{% url 'load_plan' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Load New Schedule</button>
</form>
<h1>the new index is {{ index }}</h1>
{% endblock %}
