{% extends 'base.html' %}

{% block content %}

<h1>About jitsLesson</h1>
<hr />
<p class="page-content">
  I like long romantic walks down the produce aisle. Also, I am currently job seeking!
</p>

{% endblock %}

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolor eaque vitae delectus fugiat, ex iste ullam vero beatae, natus deserunt, explicabo adipisci doloribus accusamus! Officia quaerat doloribus porro iste.
Expedita sint at nihil fugiat obcaecati nulla architecto quibusdam quaerat, sed molestiae, quasi officiis delectus consequuntur optio beatae quia quae pariatur, a eaque velit laboriosam! Earum blanditiis cupiditate temporibus cumque?